<h2>Crear nuevo club</h2>

<form action="/admin/clubes/nuevo" method="POST">

    <label>Nombre del club:</label>
    <input type="text" name="nombre" required>

    <button type="submit">Guardar</button>

</form>