<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Club</title>
</head>
<body>

<h1><%= club.nombre %></h1>

<p>ID del club: <%= club.id %></p>

<hr>

<a href="/clubes">Volver</a>

</body>
</html>