<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clubes</title>
</head>
<body>

    <h1>Listado de Clubes</h1>

    <p>Bienvenido: <%= user.nombre %></p>

    <hr>

    <!-- SOLO ADMIN SISTEMA puede crear clubes -->
    <% if (user.rol === 1) { %>
        <a href="/clubes/nuevo">
             Crear nuevo club
        </a>
        <hr>
    <% } %>

    <ul>
    <% clubes.forEach(club => { %>
        <li>
            <%= club.nombre %>
        
            <% if (user.rol === 1) { %>
                | <a href="/clubes/editar/<%= club.id %>">Editar</a>

                <form action="/clubes/eliminar/<%= club.id %>" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Seguro que querés borrar este club?')">
                        Borrar
                    </button>
                </form>
            <% } %>
            
        </li>
    <% }) %>
    
</ul>
    <a href="/dashboard/admin">Volver al panel</a>

</body>
</html>

 