<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Torneos</title>
</head>
<body>

<h1>Listado de Torneos</h1>

<p>Usuario: <%= user.nombre %></p>

<hr>

<ul>
<% torneos.forEach(t => { %>
    <li>
        <strong><%= t.nombre %></strong>
        - <%= t.temporada %>

        <a href="/admin/torneos/<%= t.id %>">Ver</a>
    </li>
<% }) %>
</ul>

<hr>
<a href="/admin/torneos/nuevo">➕ Crear torneo</a>
<hr>

<a <% if (Number(user.rol_id) === 1) { %>
    <a href="/dashboard/admin">Volver</a>
<% } else if (Number(user.rol_id) === 2) { %>
    <a href="/dashboard/club">Volver</a>
<% } else { %>
    <a href="/dashboard/viewer">Volver</a>
<% } %></a>

</body>
</html>